.vantagens-texto{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap:10px;
 text-align: center;
 margin-bottom: 60px;
 padding: 20px;
}

.vantagens-titulo  {
   display:  block;
   text-align: center;
   
}
.vantagens-int {
  background-color: rgb(247, 247, 247);
}

.vantagens-img {
    max-width: 8%;
}

@media (max-width:600px){
  .vantagens-texto{ 
    display: grid;
    grid-template-columns: 1fr;
  }
}